* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #212121;
  background-color: #dedbdbb1;
  font-family: "League Spartan", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  margin-bottom: 30px;
  color: #0a0f4f;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

.img-wrapp {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  overflow: hidden;
}

.types-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  text-align: center;
  font-weight: 600;
  color: #0a0f4f;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.accent-text {
  font-weight: 700;
  color: #0a0f4f;
}

header {
  margin-bottom: 40px;
}
nav {
  padding: 40px 40px;
  background-color: #5a8eac96;
  box-shadow: 0 0 13px 3px #1d0750;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list__item {
  list-style: none;
}

.nav-list__link {
  color: #0a0f4f;
  font-weight: 700;
  font-size: 24px;
  position: relative;
  padding-bottom: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link::before,
.nav-list__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  bottom: -5px;
  left: 50%;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-list__link::before {
  left: 50%;
}

.nav-list__link::after {
  right: 50%;
}

.nav-list__link:hover::before,
.nav-list__link:hover::after,
.nav-list__link:focus::before,
.nav-list__link:focus::after {
  width: 100%;
  left: 0;
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: #ffffff;
}

.hero-title {
  text-align: center;
  font-weight: 900;
  color: #0a0f4f;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0px;
}

.hero-text {
  margin-bottom: 20px;
}

.types-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.types-item:not(:last-child) {
  margin-bottom: 20px;
}

.advantages-list {
  list-style: none;
}

.figcaption {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.advantages-item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.advantages-text {
  margin-bottom: 10px;
}

.button {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #0a0f4f;
  width: 60px;
  height: 60px;
  background-color: #5a8eac96;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5),
    0px 0px 20px rgba(0, 0, 255, 0.5), 0px 0px 30px rgba(0, 0, 255, 0.3),
    0px 0px 40px rgba(0, 0, 255, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.button:hover,
.button:focus {
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.7),
    0px 0px 35px rgba(0, 0, 255, 0.7), 0px 0px 45px rgba(0, 0, 255, 0.5),
    0px 0px 55px rgba(0, 0, 255, 0.3);
}

footer {
  text-align: center;
  padding: 80px 40px;
  background-color: #5a8eac96;
  box-shadow: 0 0 13px 3px #1d0750;
  color: #fff;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer-link:hover,
.footer-link:focus svg {
  color: #1d0750;
}
